@charset "utf-8";
div {
/*
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    font-family: '나눔고딕', nanumgothic, '맑은고딕', 'malgun gothic', '돋움', dotum, sans-serif;
    line-height: 1.5;
*/
    font: normal 15px/20px '나눔고딕', nanumgothic, '맑은고딕', 'malgun gothic', '돋움', dotum, sans-serif;
}

p {
/*
    text-align: justify;
    font-size : 1.5em;
*/
    text-indent: 10px;
}

.justify {
    text-align: justify;
}

span {
    text-decoration: overline;
}

strong {
}

.front {
    text-align: center;
    font-size: 1.5rem;
}

#end {
}