@charset "utf-8";
a {
    border: 5px solid #f00;
    height: 50px;
    padding: 20px;
    text-align: center;
    width: 100px;
}

a.inline_block {
    border-color: #0f0;
    display: inline-block;
}

a.float_left {
    display: table-cell;
/*    float: left;*/
}

div.overflow {
    overflow: hidden;
    overflow-y: auto;
}

div.display_table {
    border-color: #0ff;
    display: table;
/*    width: 1000px;*/
    padding: 10px;
    white-space: nowrap;
}

a {
    display: table-cell;    
}

div:after {
    display: block;
    clear: both;
    content: '';
}