@charset "utf-8";
body {
    margin: 0;
    padding: 0;
}

.layer1 {
    background-color: #f3f;
    height: 2000px;
    width: 2000px;
    z-index: 1;
}

.layer2 {
    background-color: rgba(0, 0, 0, 0.5);
    left:0;
    height: 100%;
    position: fixed;
/*    opacity: 0.3;*/
    width: 100%;
    z-index: 2;
}

.layer3 {
    background-color: #fff;
    left: 50%;
    top: 50%;
    margin-left: -400px;
    margin-top: -250px;
    position: fixed;
    /*    top: 150px;*/
    width: 800px;
    height: 500px;
    z-index: 3;
}

.layer3 .header {
    background-color: #943;
    /*    float: right;*/
    height: 20px;
}

span {
    float: right;
}

.layer3 .close:after {
    clear: both;
    content: '';
    display: block;
    z-index: 4;
}

.layer3 .content1 {
    background-color: #043;
    width: 200px;
    height: 480px;
    position: absolute;
    left: 0;
    top: 20px;
    z-index: 4;
}

.layer3 .content2 {
    /*    position: relative;*/
    float: right;
    width: 600px;
    height: 480px;
    background-color: #faf;
    z-index: 4;
}