@charset "utf-8";

body {
    background-color: #aaa;
    margin: 0;
    text-align: center;
}

.wrap {
    line-height: 100px;
    overflow: hidden;
}

.content {
    background-color: #fff;
}

nav {
    background-color: #666;
}

aside {
    background-color: #487;
}

.layout1 {
    margin: 0 auto;
    width: 800px;
    overflow: hidden;
    padding-top: 50px;
}

.layout1 nav {
    float: right;
    width: 200px
}

.layout1 .content {
/*    float: left;*/
    overflow: hidden;
/*    width: 400px;*/
}

.layout1 aside {
    float: right;
    width: 200px;
}


header {
    background-color: #545;
    left: 0;
    right: 0;
    line-height: 50px;
    position: fixed;
/*    width: 100%;*/
}

footer {
    background-color: #894;
    line-height: 50px;
}
