@charset "utf-8";

body {
    background-color: #aaa;
    margin: 0;
}

.wrap {
    line-height: 100px;
    overflow: hidden;
}

.content {
    background-color: #fff;
}

nav {
    background-color: #666;
}

.layout1 {
    margin: 0 auto;
    width: 800px;
}

.layout1 nav {
    float: left;
    width: 200px
}

.layout1 .content {
    float: left;
    width: 600px;
}

.layout2 {
    margin: 0 auto;
    width: 800px;
}

.layout2 nav {
    float: right;
    width: 200px;
}

.layout2 .content {
    float: right;
    width: 600px;
}

.layout3 {
    margin : 0;
    width: 100%;
}

.layout3 nav {
    float: left;
    width: 200px;
}

.layout3 .content {
    overflow: hidden;
}