body {
    height: 100%;
    margin: 0;
    background: #ccc;
}

.wrap {
/*    min-width: 600px;*/
    height: 100%;
    margin: 0 200px 0 150px;
}

.container {
    min-height: 100%;
}

nav {
    float: left;
    width: 150px;
    margin-left: -150px;
}

aside {
    float: right;
    width: 200px;
    margin-right: -200px;
/*    margin*/
    
}

.content {
    height: 100%;
    background: #fff;
}