body {
    margin: 0;
    height: 100%;
}

.container_left {
    position: absolute;
    left: 0;
    right: 50%;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
}
.container_right {
    position: absolute;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
}

.left_content {
    position: absolute;
    left: 10px;
    right: 5px;
    top: 0;
    bottom: 0;
    background: #00f;
}

.right_content {
    position: absolute;
    left: 5px;
    right: 10px;
    top: 0;
    bottom: 0;
    background: #f00;
}
